{% extends 'html_v2/base.html' %}
{% block name %}{% block title %}Smartify{% endblock %}{% endblock %}
{% block stylesheets %}{{super()}}{% endblock %}
{% block content %}
	{% for article in articles %}
	<div style="display: flex; flex-wrap: wrap;">
	{% for image in article.images %}
		<div class="card" style="margin: 3px" id="{{image.id_}}">
			<div class="card-image">
				<img src="{{ url_for('html_v2.static', filename = 'images/' ~ image.id_ ~ '_640.' ~ image.extension) }}">
				<span id="label_{{image.id_}}" class="card-title">{{image.id_}}</span>
			</div>
			<div class="card-content">
				<p>{{ url_for('html_v2.static', filename = 'images/' ~ image.id_ ~ '.' ~ image.extension) }}</p>
			</div>
			<button  id="button_{{image.id_}}" class="btn waves-effect waves-light" type="button" onclick="deleteImage('{{image.id_}}')">
				Delete
			</button>
			<button class="btn waves-effect waves-light" type="button" onclick="document.getElementById('file_{{image.id_}}').click();reUploadImage('{{image.id_}}')">
				ReUpload
			</button>
			<input type="file" id="file_{{image.id_}}" style="display: none;" onchange="fileSelected(this, '{{image.id_}}')">
			<input type="hidden" id="action_{{image.id_}}">
		</div>
	{% endfor %}
	</div>
	{% endfor %}
{% endblock %}
{% block scripts %}
	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="{{ url_for('.static', filename='js/materialize.js')}}"></script>
	<script src="{{ url_for('.static', filename='js/init.js')}}"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded',function(){
			var carousels = document.body.querySelectorAll('.carousel');
			M.Carousel.init(carousels, {fullWidth: true, indicators: true});
		});
	</script>
{% endblock %}