<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{% block title %}{% endblock %}</title>
	<!-- CSS  --> 
	{% block stylesheets %}
	<link href="{{ url_for('.static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
	{% endblock %}	

</head>
<body>
	<nav class="nav-extended" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">{% block name %}{% endblock %}</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/html_v1/index">Home</a></li>
				<li><a href="/html_v1/create">Create</a></li>
				<li><a href="/html_v1/admin">Admin</a></li>
			</ul>

			<ul id="nav-mobile" class="sidenav">
				<li><a href="/html_v1/index">Home</a></li>
				<li><a href="/html_v1/create">Create</a></li>
				<li><a href="/html_v1/admin">Admin</a></li>
			</ul>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger" style="font-size: 2rem;">&#8801;</a>
		</div>
	</nav>

	{% block content %}{% endblock %}

	<footer class="page-footer teal">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Company Bio</h5>
					<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Settings</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Connect</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				Made by <a class="brown-text text-lighten-3">Alexamdru-Sebastian SARBU</a>
			</div>
		</div>
	</footer>
	{% block scripts %}{% endblock %}
</body>
</html>