{% extends 'html_v1/base.html' %}
{% block name %}{% block title %}Create{% endblock %}{% endblock %}
{% block stylesheets %}{{super()}}{% endblock %}
{% block content %}
<!--Input-->
<form method="post" onsubmit="getHtml()" 
{% block action %}
action="create"
{% endblock %}
enctype="multipart/form-data">
{% block inputs %}
<div class="row">
	<div class="col s12">
		<input id="name" Name="Name" type="text" class="validate" data-length="255" value="{% block articleName %}{% endblock %}" required>
		<label for="name">Name</label>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<input id="description" Name="Description" type="text" class="validate" data-length="255" value="{% block description %}{% endblock %}" required>
		<label for="description">Description</label>
	</div>
</div>
{% endblock %}
<!-- File upload -->
{% block files %}
<div class="row">
	<div class="col s12">
		<div class="file-field input-field">
			<div class="btn">
				<span>File</span>
				<input type="file" name="files" multiple>
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text" placeholder="Upload one or more images (PNG, JPG)">
			</div>
		</div>
	</div>
</div>
{% endblock %}
<!-- WYSIWYG-->
<div class="row">
	<div class="col s12">
		<button type="button" onClick="execCmd('bold');"><b>B</b></button>
		<button type="button" onClick="execCmd('italic');"><i>I</i></button>
		<button type="button" onClick="execCmd('underline');"><u>U</u></button>
		<button type="button" onClick="execCmd('strikeThrough');"><strike>S</strike></button>
		<button type="button" onClick="execCmd('indent');">></button>
		<button type="button" onClick="execCmd('outdent');"><</button>
		<button type="button" onClick="execCmd('subscript');">ₐ</button>
		<button type="button" onClick="execCmd('superscript');">ª</button>
		<button type="button" onClick="execCmd('insertUnorderedList');">•</button>
		<button type="button" onClick="execCmd('insertOrderedList');">1.</button>
		<button type="button" onClick="execCmd('insertParagraph');">¶</button>
		<select onchange="execCommandWithArg('formatBlock',this.value)">
			<option value="H1">H1</option>
			<option value="H2">H2</option>
			<option value="H3">H3</option>
			<option value="H4">H4</option>
			<option value="H5">H5</option>
			<option value="H6">H6</option>
		</select>
		<button type="button" onClick="execCmd('insertHorizontalRule');">HR</button>
		<select onchange="execCommandWithArg('fontName',this.value)">
			<option value="Arial">Arial</option>
			<option value="Courier">Courier</option>
			<option value="Georgia">Georgia</option>
			<option value="Tahoma">Tahoma</option>
			<option value="Times New Roman">Times New Roman</option>
			<option value="Verdana">Verdana</option>
		</select>
		Text Color: <input type="color" name="foreColor" onchange="execCommandWithArg('foreColor',this.value)"/>
		Back Color: <input type="color" name="backColor" onchange="execCommandWithArg('hiliteColor',this.value)"/>
		<button type="button" onClick="execCommandWithArg('insertImage', prompt('Enter image URL:', ''));">🖼</button>
	</div>
	<div class="row">
		<div class="col s12">
			<iframe style="position: relative; height: 30%; width: 100%;" name="richTextField">
			</iframe>
		</div>
	</div>
	<input type="hidden" id = "htmlContent" name="htmlContent" required>
</div>
<div class="row">
	<div class="col s1">
		<button class="btn waves-effect waves-light" type="submit"> 
			{% block submitText %}
				Add Article
			{% endblock %}
		</button>
	</div>
	{% block otherButtons %}
	{% endblock %}
</div>
</form>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	window.onload = function() {
		{% block onload %}
			richTextField.document.designMode='On';
		{% endblock %}
	}
	function execCmd(command) {
		richTextField.document.execCommand(command, false, null);
	}
	function execCommandWithArg(command, arg) {
		richTextField.document.execCommand(command, false, arg);
	}
	function getHtml()
	{
		htmlContent.value = richTextField.document.getElementsByTagName('body')[0].innerHTML;
	}
</script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ url_for('.static', filename='js/materialize.js') }}"></script>
<script src="{{ url_for('.static', filename='js/init.js') }}"></script>  
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded',function(){
		var inputs = document.querySelectorAll('#name, #description');
		M.CharacterCounter.init(inputs);
	});
</script>
{% endblock %}