{% extends 'html_v1/base.html' %}
{% block name %}{% block title %}Smartify{% endblock %}{% endblock %}
{% block stylesheets %}{{super()}}{% endblock %}
{% block content %}
	{% for article in articles %}
	{% if article.images is defined and article.images|length %}
	<div class="row">
		<div class="carousel carousel-slider">
			{% for image in article.images %}
			<a class="carousel-item"><img 
				src="{{ url_for('html_v1.static', filename = 'images/' ~ image.id_ ~ '.' ~ image.extension) }}" srcset=
		"{{ url_for('html_v1.static', filename = 'images/' ~ image.id_ ~ '_1920.' ~ image.extension) }} 1920w, 
		{{ url_for('html_v1.static', filename = 'images/' ~ image.id_ ~ '_1536.' ~ image.extension) }} 1536w,
		{{ url_for('html_v1.static', filename = 'images/' ~ image.id_ ~ '_1366.' ~ image.extension) }} 1366w,
		{{ url_for('html_v1.static', filename = 'images/' ~ image.id_ ~ '_780.' ~ image.extension) }} 780w,
		{{ url_for('html_v1.static', filename = 'images/' ~ image.id_ ~ '_640.' ~ image.extension) }} 640w" loading="lazy"></a>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="section white">
			<div class="row container">
				<div class="col s12 m10 offset-m1">
					<h2 style="color:#ee6e73"><a href="edit/{{article.id_}}">{{ article.name }}</a></h2>
					<h3 class="header">{{ article.description }}</h3>
					<p class="grey-text text-darken-3 lighten-3">{{article.content|safe}}</p>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
{% endblock %}
{% block scripts %}
	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="{{ url_for('.static', filename='js/materialize.js')}}"></script>
	<script src="{{ url_for('.static', filename='js/init.js')}}"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded',function(){
			var carousels = document.body.querySelectorAll('.carousel');
			M.Carousel.init(carousels, {fullWidth: true, indicators: true});
		});
	</script>
{% endblock %}