{% extends 'html_v1/create.html' %}
{% block title %}Update{% endblock %}
{% block stylesheets %}{{super()}}{% endblock %}

{% block action %}
	action="update"
{% endblock %}

{% block inputs %}
	{{ super() }}
	<input type="hidden" id = "article_id" name="article_id" value="{{article.id_}}" required>
{% endblock %}
{% block articleName %}{{article.name}}{% endblock %}"
{% block description %}{{article.description}}{% endblock %}"
{% block files %}
<!-- File upload -->
<div style="display: flex; flex-wrap: wrap;">
	{% for image in article.images %}
	<div class="card" style="margin: 3px" id="{{image.id_}}">
		<div class="card-image">
			<img src="{{ url_for('html_v1.static', filename = 'images/' ~ image.id_ ~ '_640.' ~ image.extension) }}">
			<span id="label_{{image.id_}}" class="card-title">{{image.id_}}</span>
		</div>
		<div class="card-content">
			<p>{{ url_for('html_v1.static', filename = 'images/' ~ image.id_ ~ '.' ~ image.extension) }}</p>
		</div>
		<button  id="button_{{image.id_}}" class="btn waves-effect waves-light" type="button" onclick="deleteImage('{{image.id_}}')">
			Delete
		</button>
		<button class="btn waves-effect waves-light" type="button" onclick="document.getElementById('file_{{image.id_}}').click();reUploadImage('{{image.id_}}')">
			ReUpload
		</button>
		<input type="file" id="file_{{image.id_}}" style="display: none;" onchange="fileSelected(this, '{{image.id_}}')">
		<input type="hidden" id="action_{{image.id_}}">
	</div>
	{% endfor %}
</div>
{{ super() }}
{% endblock %}
{% block submitText %}
	Update Article 
{% endblock %}
{% block otherButtons %}
	<div class="col s2">
		<button class="btn waves-effect red accent-1" type="button" onclick="deleteArticle({{article.id_}})"> 
			Delete
		</button>
	</div>
{% endblock %}
{% block scripts %}
	{{super()}}
	<script type="text/javascript">
	function deleteImage(imageId) {
		var action = document.getElementById("action_" + imageId);
		var button = document.getElementById("button_" + imageId);
		if(action.value == "delete") {
			action.value = "";
			button.innerHTML = "Delete";
		}
		else {
			action.value = "delete";
			button.innerHTML = "Restore";
		}		
	}
	function reUploadImage(imageId) {
		var action = document.getElementById("action_" + imageId);
		var button = document.getElementById("button_" + imageId);
		
		action.value = "reupload";
		button.innerHTML = "Delete";
	}
	function fileSelected(input, imageId) {
		document.getElementById("label_" + imageId).innerHTML = "File: " + input.files[0].name

	}
	function deleteArticle(article_id) {
		fetch("/html_v1/delete/"+article_id).then(response => {window.location.href = '/html_v1/index'});
		
	}
</script>
{% endblock %}
{% block onload %}
{{super()}}
	fetch("content/"+document.getElementById('article_id').value).then(data => data.text()).then(data => {
		richTextField.document.getElementsByTagName('body')[0].innerHTML = data
	})
{% endblock %}